# All Files
* @domainsproject/owners


# Reserved Domains
domains/reserved/* @domainsproject/owners

# User Domains
domains/* @domainsproject/maintainers

# MD Files
README.md @domainsproject/maintainers
terms.md @domainsproject/owners
